* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: #f4d467;
}
/* Styling the scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  height: 10px; /* Height of the scrollbar (for horizontal scrolling) */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
  border-radius: 10px; /* Rounded corners for the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 10px; /* Rounded corners for the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color when hovering */
}

body {
  background-color: #f4d467;
  height: 100vh;
  font-family: "Roboto";
}
h1 {
  margin-bottom: 50px;
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.reactImg {
  width: 250px;
  height: 250px;
}
.card {
  background: orange;
  width: 70%;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #fff;
}
.langWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 32px;
  margin-top: 16px;
  @include max(1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include max(992px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include max(575px) {
    grid-template-columns: 100%;
  }
}
.cardWrapper {
  padding: 20px;
  background-color: peachpuff;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  transition: all 0.3s ease;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  height: 200px;
  &:hover {
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
  }
  img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  h3 {
    font-size: larger;
    margin-bottom: 10px;
  }
  a {
    color: black;
  }
  .cardTop,
  .cardBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.3s ease;
    position: absolute;
  }
  .cardTop {
    transform: translateY(-200px);
    opacity: 0;
    &.show {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .cardBottom {
    transform: translateY(+200px);
    opacity: 0;
    &.show {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
